body{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.left{
	background-color: #d3d3d3;
	position: fixed;
	width: 40%;
	height: 500px;
	top: 50px;
	left: 50px;
	border-style: outset;
	border-color: grey;
	border-width: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.interface{
	text-align: center;
	padding-top: 50px;
}

p.rocket-man{
	position: absolute;
	bottom: 50px;
	color: #808080;
	width:100%;
}

.right{
	background-color: #ace5ee;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
}

.ground{
	background-color: green;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
}

.rocket{
	position: absolute;
	left: 75%;
	bottom: 0px;
	width: 150px;
	height: 200px;
	background: url(../img/rocket1.png) no-repeat 0 0;
	transition: bottom 20000ms;
	margin-left: -75px;
}

body.body-state1 .rocket{
	transition: none;
}

body.body-state2 .rocket{
	background-image: url(../img/rocket2.png)
}

body.body-state3 .rocket,
body.body-state4 .rocket{
	bottom: 2000px;
	background-image: url(../img/rocket3.png)
}

body.body-state5 .rocket{
	background-image: url(../img/boom.png);
}

.state1 {display: none;}
.state2 {display: none;}
.state3 {display: none;}
.state4 {display: none;}
.state5 {display: none;}

body.body-state1 .state1 {display: block;}
body.body-state2 .state2 {display: block;}
body.body-state3 .state3 {display: block;}
body.body-state4 .state4 {display: block;}
body.body-state5 .state5 {display: block;}


a{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}

a.button{
	display: inline-block;
	background-color: green;
	color: white;
	padding: 20px 40px;
	text-decoration: none;
	border-radius: 20px;
	transition: 100ms;
	border: outset #006400 3px;
}

a.button:hover{
	background-color: #004225
}

a.abort{
	display: inline-block;
	background-color: red;
	color: white;
	padding: 20px 40px;
	text-decoration: none;
	border-radius: 20px;
	transition: 100ms;
	border: outset #8b0000 3px;
}

a.abort:hover{
	background-color: #cc0000;
}

h1{
	font-family: 'Righteous', cursive;
	font-size: 50px;
}